.hero-scene{
    background-image: url(../images/dinner.jpg);
    background-size: cover;

}


.image-card {
    position: relative;
}

.action-image-buttons{
    background-color: red ;
    position: absolute;
    top: 0;
    left: 0;
}

.allReservation{
    display: flex;
}